.card{

    padding: 20px;
    margin: 3px;
    width: 300px;
    color: rgb(214, 214, 214);
    transition: 0.3s;
    font-family: "Trajan", sans-serif;
    filter: blur(0.6px);
    justify-content: center;
    align-items: center;
    display: flex;
}

.card:hover{
    transform: translateY(-3px);
    color: rgb(255, 255, 255);
    filter: brightness(1000000);
    
}
.botao{
    padding: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.botao:hover{
    text-decoration: underline;
}
@font-face {
    font-family: "Trajan";
    src: url(assets/fonts/trajan.ttf) format("truetype");
}

body{
    background-image: url(assets/images/undefined\ -\ Imgur\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
#container_atividades{
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}
#titulo{
    width: 1100px;
    margin-top: 85px;
}
.flex{
    display: flex;
}
.inline-block{
    display: inline-block;
}
#cabecalho{
    justify-content: center;
    justify-items: center;
}
h3{
    font-size: 100px;
    margin-bottom: 40px;
}