.card{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transform: translateY(-3px);
    background-color: rgb(133, 133, 133);
    color: rgb(255, 255, 255);
}
.botao{
    padding: 10px;
    cursor: pointer;
}
.botao:hover{
    text-decoration: underline;
}


body{
    background-image: url(assets/images/undefined\ -\ Imgur\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
#container_atividades{
    display: grid ;
    grid-template-columns: repeat(3, 400px);
    gap: 2px;
    justify-content: center;
    justify-items: center;
}
#titulo{
    width: 800px;
}
.flex{
    display: flex;
}
.inline-block{
    display: inline-block;
}
#cabecalho{
    justify-content: center;
    justify-items: center;
}
h3{
    font-size: 100px;
    margin-bottom: 40px;
}